{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-offset-4 is-4">
            <form method="POST">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control is-expanded">
                        {{ form.name }}
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-info is-rounded">
                            Add City
                        </button>
                    </div>
                </div>
                {% if msg %}
                <div class="notification {{ msg_class }}">
                    <button class="delete"></button>
                    {{ msg }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<section class="section">
    <div class="columns is-multiline is-centered">
        {% for city in weather_data %}
        <div class="column is-one-third">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-50x50">
                            <img src="http://openweathermap.org/img/wn/{{city.icon}}.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="title">{{ city.name }}, {{city.country}}</span>
                                <br>
                                <span class="subtitle">{{ city.temperature }}° C</span>
                                <br> {{ city.description }}
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <a href="{% url 'delete_city' city.name %}">
                            <button class="delete"></button>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}